<div class="center hero-unit" >
  <h2>I started to brainstorm, </h2>
  <h2>but just kept on thinking, </h2>
  <h2>"What's something to do,</h2>
  <h2>that won't end up stinking?!"</h2>
  <%= image_tag("thinky-guy-color.gif", alt: "No image :(") %>
</div>


