<div class="center hero-unit" >
  <h2>Now I don't want to drive you</h2>
  <h2>to puke in a puddle.</h2>

  <%= image_tag("huggy-guy-color.gif", alt: "No image :(") %>

  <h2>but I just get so happy</h2>
  <h2>when we get to cuddle.</h2>
</div>
