<div class="center hero-unit" >
  <h2></h2>
  <h2>to puke in a puddle.</h2>

  <%= image_tag("lovey-guy-color.gif", alt: "No image :(") %>

  <h2>And I'm happy I get</h2>
  <h2>to spend it with you!</h2>
</div>
