<div class="center hero-unit" >
  <h1>The Grand finale!!!</h2>
  <h2>So Roses are red,</h2>
  <h2>and violets are blue.</h2>

  <%= image_tag("lovey-guy-color.gif", alt: "No image :(") %>

  <h2>I'm so happy to spend</h2>
  <h2>this Valentine's day with you!!</h2>
</div>
