<div class="center hero-unit" >
  <h2>Instead of my nose,</h2>
  <h2>you called it my beak.</h2>

  <%= image_tag("chicken-guy-color.gif", alt: "No image :(") %>

  <h2>so I knew that I wanted,</h2>
  <h2>to make this unique.</h2>
</div>
