@import "bootstrap";

.center {
  text-align: center;
}

body {
  padding-top: 60px;
  background-image:image-url('ferret-roses.gif');
}

.nav {
  font-size: 1.7em;
  padding-top: 18px;	
  padding-bottom: 18px;
  font-weight: bolder;
}

#next-btn {
  text-align:center;	  

}

